.app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableContainer{
    width: 82%;
}

.sidePanel{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    height: 100%;
}

.sidePanel h2{
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.sepLine{
    width: 85%;
    border-bottom: 0.15vw solid rgb(216, 216, 216);
    align-self: center;
}


.select{
    width: 85%;
    height: 3vw;
    font-size: 0.8vw;
    align-self: center;
    margin-top: 1vw;
}
